@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nv8wev');
  src:  url('fonts/icomoon.eot?nv8wev#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nv8wev') format('truetype'),
    url('fonts/icomoon.woff?nv8wev') format('woff'),
    url('fonts/icomoon.svg?nv8wev#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-bin:before {
  content: "\e9ad";
}
.icon-heart:before {
  content: "\e9da";
}
