@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
.App {
    font-family: "Open Sans", sans-serif;
    color: #b3b3b8;
    font-size: 18px;
    font-weight: 400;
    background-color: #f2f1f6;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

input,
textarea {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px 5px;
    padding-top: 0;
    width: 100%;
    box-sizing: border-box;
}

form [type="submit"] {
    margin: 15px auto;
}

input:focus,
textarea:focus {
    outline: none;
}

input:disabled {
    background-color: transparent;
    color: #b3b3b8;
}

.input-label {
    font-size: 12px;
}

button:disabled span {
    color: #d1d1d1;
}